.status-banner {
  padding: 9px 12px;
}

.status-banner.warning {
  background: alpha(#e5a50a, 0.16);
}

.status-banner.success {
  background: alpha(#2ec27e, 0.12);
}

.error {
  color: @error_color;
}
