[Desktop Entry]
Type=Application
Name=SoundTouch Volume
Comment=View and control SoundTouch receiver volume
Exec=soundtouch-pipewire-control
Icon=io.github.Mr_Tao.SoundTouchPipeWire.Control
Terminal=false
Categories=AudioVideo;Audio;GTK;
Keywords=SoundTouch;PipeWire;speaker;volume;mute;
StartupNotify=true
